@import "tailwindcss";

input {
  @apply px-3 py-2 rounded mb-1 text-white outline-none border border-solid border-transparent focus:border-purple-500 transition-colors bg-gray-400
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium cursor-pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.fade{
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
  
}
